{% load static %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel='icon' href='/static/weirda.png' border-radius='100px' type='img/icon'/>
<body style="background-color: rgb(18, 20, 23);">
<center>
<form action="menu">
    <button style="font-size: 2vw; border-radius: 1vw; background-color: burlywood; color:rgb(33, 60, 60)">SALVATION</button>
</form>
</center>
<center>
<img src="/static/croc.jpeg" style='height:86%; border-style:groove; border-color: brown; border-width: 1vw;  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);'>
</div>
</center>
</body>